body{
    background: #7bd6d2;
        color: #FFF;
}
table{
   
    margin-top: 250px;
    margin-bottom: 100px;
    margin-right: 440px;
    margin-left: 750px;

    background-color: #26a9e6;
    width: 350px;
    height: 480px;
    text-align: center;
    border-radius: 15px;
}
#calculator{
    position: absolute;
    max-width: 80%;
    left: 60%;
    top: 10%;
}
input{
    outline: 0;
    position: relative;
    left: 5px;
    top: 5px;
    border: 10;
    color: #080a0a;         
    background-color: rgb(152, 200, 219);
    width: 66px;
    height: 50px;
    float: left;
    margin: 8px;
    font-size: 23px;
    box-shadow: 0 4px rgba(18, 141, 179, 0.438);
    border-radius: 4px;
}


input:hover{
    border: 0 solid #000;
    
    background-color: rgb(61, 204, 209);
    border-radius: 1px;
    width: 66px;
    height: 50px;
    float: left;
    margin: 8px;
    font-size: 30px;
    box-shadow: 0 4px #ffffff;
}
#answer{
    color:rgb(48, 181, 204);
    width: 300px;
    height: 90px;
    font-size: 50px;
    text-align: center;
    background-color: #ffffff;
    float: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#answer:hover{
    width: 300px;
    font-size: 30px;
    text-align: center;
    box-shadow: 0 4px rgba(0,0,0,0.2);
  
}

#equals{
    width:150px;
}   
